body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
}

/* index page */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Navbar styles */
.navbar {
    background-color: #f1a683;
    color: #fff;
    padding: 1% 2%;
    font-size: 20px;
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-links a:hover {
    color: #007bff;
}

/* Hero section styles */
.hero {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    width: 20%;
    background-color: #eee8e6;
    padding: 20px;
    margin-right: 10px;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 8px;
    background-color: #bed3e9;
    font-size: 20px
}

.sidebar ul li a:hover {
    color: #007bff;
}

.product-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 30%;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.product-card a {
    text-decoration: none;
    color: #333;
}

.product-card img {
    width: 100%;
    border-radius: 5px;
}

.product-card h4 {
    margin-top: 10px;
}

.price {
    font-weight: bold;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #f1a683;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


/* login */

.login-container {
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

}

.register-div {
    text-align: right;
}

.register-div a {
    padding: 5px;
    text-decoration: none;
    background-color: #b3a700;
    color: white;

}

.login-container h2 {
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form input[type="text"],
.login-container form input[type="password"],
.login-container form input[type="submit"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.login-container form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-container form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* register */

.register-container {
    margin: 5% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.register-container h2 {
    text-align: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container form input[type="text"],
.register-container form input[type="email"],
.register-container form input[type="tel"],
.register-container form input[type="password"],
.register-container form textarea,
.register-container form input[type="submit"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.register-container form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.register-container form input[type="submit"]:hover {
    background-color: #0056b3;
}