body {
    font-family: Arial, sans-serif;
    background-color: #e4dcdc;
    height: 100vh;
    margin: 0;
}

/* index page */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Navbar styles */
.navbar {
    background-color: #f85606;
    color: #fff;
    padding: 1% 2%;
    font-size: 20px;
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.search-bar form {
    display: flex;
    align-items: stretch;
}

.search-bar form input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    border-right: none;
}

.search-bar form button {
    padding: 8px 15px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-left: none;
    cursor: pointer;
}

.search-bar form input:focus {
    outline: none;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-links a:hover {
    color: #007bff;
}

/* Hero section styles */
.hero {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 15px;
    margin-right: 10px;
    border-radius: 10px;
    height: 100%;
    border: 1px solid #bbb8b8;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #858585;
    display: block;
    padding: 8px 8px;
    background-color: #f7fbff;
    font-size: 20px;
}

.sidebar ul li a:hover {
    color: #007bff;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 100%; */
}

.product-card {
    width: 29%;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 320px;
    text-align: center !important;
    border-radius: 8px;

}

.product-card a {
    text-decoration: none;
    color: #333;
}

.product-card img {
    width: 100%;
    height: 200px !important;
    object-fit: contain;
    border-radius: 5px;
}

.product-card h4 {
    margin-top: 10px;
    font-size: 18px;
    color: #0c0c0c;
    margin-bottom: 3px;
}

.price {
    color: #f85606;
    font-weight: bold;
    margin: 0;
    font-size: 18px;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff !important;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.active {
    background-color: #f85606 !important;
    color: white !important;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #e7966e81;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


/* login */

.login-container {
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

}

.register-div {
    text-align: right;
}

.register-div a {
    padding: 5px;
    text-decoration: none;
    background-color: #b3a700;
    color: white;

}

.login-container h2 {
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form input[type="text"],
.login-container form input[type="password"],
.login-container form input[type="submit"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.login-container form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-container form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* register */

.register-container {
    margin: 5% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.register-container h2 {
    text-align: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container form input[type="text"],
.register-container form input[type="email"],
.register-container form input[type="tel"],
.register-container form input[type="password"],
.register-container form textarea,
.register-container form input[type="submit"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.register-container form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.register-container form input[type="submit"]:hover {
    background-color: #0056b3;
}

.not-found-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
    font-size: large;
}

.not-found-div img {
    width: 30%;
}

.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-item {
    position: relative;
}

.category-item>p {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    background-color: #eaeaea;
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-size: 18px;
}

.category-item>p:hover {
    background-color: #ddd;
}

.subcategory-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 200px;
    /* Adjust based on your layout */
    width: 200px;
    display: none;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.subcategory-list>li {
    margin-bottom: 0 !important;
}

.subcategory-list>li>a {
    display: block;
    padding: 10px;
    color: #000000 !important;
    text-decoration: none;
    background-color: #eaeaea;
    border-bottom: 1px solid #ddd;
    font-size: 18px !important;
}

.subcategory-list>li>a:hover {
    background-color: #ddd;
}

.category-item:hover .subcategory-list {
    display: block;
}

/* banner */
.banner-section {
    display: block;
    width: 100%;
    height: 50vh;
    /* margin-bottom: 15px; */
    padding: 0 20px;
}

.banner-section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sub-banner-section {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin: 15px;

}

.sub-banner-section ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.sub-banner-section ul li a {
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 16px 30px;
    border-radius: 2px;

}

.sub-banner-section ul li a:hover {
    background-color: #f85606;
    color: white;
}

.cart-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.cart-left {
    background-color: #ffffff;
    padding: 20px;
    width: 60%;
}

.required {
    color: red;
    font-size: 20px;
}

.custom-form .form-group {
    margin-bottom: 15px;
    margin-right: 10px;
}

.custom-form .form-group:nth-child(even){
    margin-right: 0 !important;
}

.custom-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.custom-form .form-group input,
.custom-form .form-group select {
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}


.custom-form button {
    padding: 15px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.custom-form button:hover {
    background-color: #0056b3;
}

.w100 {
    width: 100% !important;
}

.w50 {
    width: 48%;
}

.form-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.cart-left h3 {
    color: #b31818 !important;
    font-size: 20px;
}

.cart-right{
    padding: 20px;
    background-color: white;
    width: 33%;
}

.cart-right h3{
    color: #186db3 !important;
    font-size: 20px;
    text-align: center;
}

.cart-item{
    background-color: #ebe6e6;
    padding:  5px 15px;
    margin-bottom: 10px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.plus-minus button{
    padding: 3px 10px !important ;
    font-size: 20px;
}

.plus-minus p{
    margin: 0 10px;
}

.cart-item h4{
    text-align: center;
    /* color: #007BFF; */
    color: #f85606;
}
.p-details h4{
    text-align: left;
        color: #007BFF;

}

.total-div{
    
}
